@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #161616;
  --foreground: #ffffff;
  --font-lato: "Lato", sans-serif;
  --font-roboto: "Roboto Flex", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
  font-optical-sizing: auto;
}

a {
  font-size: 18px;
}

button {
  font-family: var(--font-roboto);
}

@media screen and (max-width: 768px) {
  a {
    font-size: 15px;
  }
}

.text-style-light {
  color: #363636 !important;
}

.text-style-regular {
  color: #161616 !important;
}

.swiper-pagination-bullet {
  background-color: var(--foreground) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--background) !important;
}